<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./styles.css">
  <meta charset="utf-8">
  <title>Hangman</title>
</head>

<body>
  <header>
    <span>Mystery word</span>
    {{>_guessesLeft}}
  </header>
  <main class="wrapper">
    <ul>
      {{#makeDashes}}
    <li>{{.}}</li>
      {{/makeDashes}}
    </ul>
    <form class="guessed-letter" action="/" method="post">
      <input type="text" maxlength="1" pattern="[A-Za-z]" name="id" value="" autofocus placeholder="Choose a Letter">
      <button type="submit" name="submit">Submit</button>
    </form>
    <p>Incorrect Guesses: </p>
    <ul>
      {{#incorrectArr}}
        <li> {{.}} </li>
      {{/incorrectArr}}
    </ul>
  </main>
</body>

</html>
