<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./styles.css">
  <meta charset="utf-8">
  <title>Hangman</title>
</head>

<body>
  <header>
    <span>Mystery word</span>
    <span>You have 8 guesses left</span>
  </header>
  <main class="wrapper">
    <ul>
      {{#displayArr}}
    <li>{{display}}</li>
      {{/displayArr}}
    </ul>
    <form class="guessed-letter" action="/" method="post">
      <input type="text" name="id" value="" placeholder="Choose a Letter">
      <button type="submit" name="submit">Submit</button>
    </form>
    <p>Letters Guessed: </p>
    <ul>
      {{#guessArr}}
        <li> {{.}} </li>
      {{/guessArr}}
    </ul>
  </main>
</body>

</html>
